/* Write your code here. */
.Faqs-container {
  background-color: #d7dae6;
  background-size: cover;
  min-height: 100vh;
}
.Faqs-sub-container {
  border-radius: 8px;
  min-height: 100px;
  min-width: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #cb8805;
  text-align: center;
  font-weight: bold;
}
